version: '3.9'

services:
  dmpopidor:
    build:
      context: .
      target: dev
      args:
        - NODE_MAJOR=${NODE_MAJOR:-18}
    depends_on:
      postgres:
        condition: service_healthy
    working_dir: /app
    environment:
      - RAILS_ENV=development
      - RAKE_ENV=development
      - NODE_ENV=development
      - RAILS_SERVE_STATIC_FILES=${RAILS_SERVE_STATIC_FILES:-false}
    volumes:
      - ./:/app
    command:
      - /bin/sh
      - -c
      - |
        rm -f /app/tmp/pids/server.pid
        bin/run
    networks:
      - dmpopidor_network

  directus:
    ports:
      - ${DIRECTUS_PORT:-8055}:8055
    networks:
      - dmpopidor_network

  postgres:
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    networks:
      - dmpopidor_network

  valkey:
    ports:
      - ${VALKEY_PORT:-6379}:6379
    networks:
      - dmpopidor_network

networks:
  dmpopidor_network:
    driver: "bridge"
