<%# locals{ guidance_groups_by_theme } %>
<% parent_id = guidance_groups_by_theme.object_id %>
<% guidance_groups_by_theme.each do |title, guidances| %>
  <h2><%= guidances[:title] %></h2>
  <p><%= title %></p>
  <% guidances[:guidances].each do |key, collection| %>
    <% collection.each do |guidance| %>
      <%= guidance.text %>
    <% end %>
  <% end %>
<% end %>
