<br>
<h2><%= _(template&.module? ? 'Module Overview' : 'Template Overview') %></h2>
<%= render partial: "org_admin/phases/phase",
           collection: phases,
           locals: { template: template,
                     modifiable: modifiable } %>
