
<% title = template&.module? && template.id.present? ? template.title : 'New Template' %>

<% modifiable = template.latest? && !template.customization_of.present? && template.id.present? && (template.org_id = current_user.org.id) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <%= link_to template&.module? ? _('View all modules') : _('View all templates'),
                template&.module? ? super_admin_module_templates_path : referrer,
                class: 'btn btn-secondary float-end' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "org_admin/templates/navigation", locals: local_assigns.merge({ modifiable: modifiable }) %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="card card-default">
          <div class="card-body">
            <%= render partial: partial_path, locals: local_assigns.merge({ referrer: referrer, modifiable: modifiable }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
