<div class="static_pages">
  <%= react("StaticPagesLayout", props: {
    locale: LocaleService.to_gettext(locale: locale),
    page: @page,
    directusUrl: Rails.configuration.x.directus.public_url
  }) %>
</div>
