<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= @plan.title %></title>

    <%= render partial: 'shared/export/plan_styling',
               locals: {
                 font_face: font_face,
                 font_size: "#{font_size}pt",
                 margin: "#{margin_top}px #{margin_right}px #{margin_bottom}px #{margin_left}px"
               } %>
  </head>
  <body>
    <% if @show_coversheet %>
      <%= render partial: 'shared/export/plan_coversheet' %>
    <% end %>

    <% partial_name = @plan.template.structured? ? 'plan_structured_export' : 'plan_classic_export'%>
    <%= render partial: "shared/export/#{partial_name}",
               locals: {
                 plan: @plan,
                 phases: @hash[:phases],
                 research_outputs: @hash[:research_outputs]
               }
    %>
  </body>
</html>
