@use './colours' as *;

.dmpopidor-branding.org-admin {

  h1,
  h2 {
    color: $rust;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a {
    color: $rust;
  }

  .accordion {
    border: none;
    .accordion-item {
      border: none;

      h2.accordion-header {
        margin-bottom: 0;
        padding: 0;
      }

      h2.accordion-header,
      a.accordion-button,
      button.accordion-button {
        background-color: $rust;
        color: white;
      }

      .accordion-collapse,
      .accordion-body {
        border-color: $rust;
      }

      .accordion-body {
        padding-top: 30px;
      }
    }
  }

  // main border
  .card-default {
    border-color: $rust;
  }

  // Sections & Phases
  .heading-button>.card-heading,
  .card-default>.card-heading {
    background-color: $rust;
  }

  .tab-pane {
    width: 100%;
  }

  table {
    ul.dropdown-menu {
      li a {
        color: $rust;
      }
    }
  }

}

.dmpopidor-branding.super-admin {
  .tab-pane {
    width: 100%;
  }
}
