@use './colours' as *;

.dmpopidor-branding.org-admin {

  h1,
  h2 {
    color: $rust;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a {
    color: $rust;
  }


  // main border
  .card-default {
    border-color: $rust;
  }

  // Sections & Phases
  .heading-button>.card-heading,
  .card-default>.card-heading {
    background-color: $rust;
  }

  .tab-pane {
    width: 100%;
  }

  table {
    ul.dropdown-menu {
      li a {
        color: $rust;
      }
    }
  }

}

.dmpopidor-branding.super-admin {
  .tab-pane {
    width: 100%;
  }
}
