@use './colours' as *;

.dmpopidor-branding {
  .nav-tabs {
    background-color: $dmpopidor-blue;

    li>a {
      color: #fff;
      border: 1px solid $dark-blue;
    }

    li>a:hover,
    li>a:focus,
    li.active>a,
    li.active>a:focus,
    li.active>a:hover {
      color: $dmpopidor-blue;
      border-bottom-color: transparent;
      background-color: #fff;
    }

    li.phase-tab>a {
      background-color: $dark-blue;
    }

    li.phase-tab>a:hover,
    li.phase-tab>a:focus,
    li.active.phase-tab>a,
    li.active.phase-tab>a:focus,
    li.active.phase-tab>a:hover {
      color: $dark-blue;
      background-color: white;
      border: 1px solid $dark-blue;
      border-bottom-color: transparent;
    }
  }

  .nav-pills {
    background-color: $dmpopidor-blue;

    li>a {
      color: #fff;

    }

    li>a:hover,
    li>a:focus,
    li.active>a,
    li.active>a:focus,
    li.active>a:hover {
      color: $dmpopidor-blue;
      border: 1px solid $dmpopidor-blue;
      border-bottom-color: transparent;
      background-color: #fff;
    }
  }


  &.org-admin {
    .nav-tabs {
      background-color: $rust;

      li>a:hover,
      li>a:focus,
      li.active>a,
      li.active>a:focus,
      li.active>a:hover {
        color: $rust;
        border: 1px solid $rust;
        border-bottom-color: transparent;
      }
    }

    .nav-pills {
      background-color: $rust;

      li>a:hover,
      li>a:focus,
      li.active>a,
      li.active>a:focus,
      li.active>a:hover {
        color: $rust;
        border: 1px solid $rust;
      }
    }
  }

  &.super-admin {
    .nav-tabs {
      background-color: $dmpopidor-yellow;
      
      li>a {
        color: black;
        text-decoration: none;
      }

      li>a:hover,
      li>a:focus,
      li.active>a,
      li.active>a:focus,
      li.active>a:hover {
        color: $dmpopidor-yellow;
        border: 1px solid $dmpopidor-yellow;
        border-bottom-color: transparent;
      }
    }
  }
}

/*
    MOBILE NAVBAR
*/

@media (max-width: 767px) {
  nav {
    ul li:hover>ul {
      display: none;
    }

    ul.nav li ul {

      &.dropdown-menu {

        li:first-child,
        li:first-child a:hover,
        li:last-child {
          border-radius: unset;
        }
      }

      &[aria-labelledby="static-pages-menu"] li:last-child {
        display: none;
      }
    }

    li.delimiter {
      display: none;
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $dark-blue !important;
    text-align: center;
    padding: 5px 25px;

    &:hover {
      font-weight: bold;
    }
  }

  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    color: $dark-blue !important;
    background-color: #fff !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff !important;
    background-color: $dark-blue !important;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: $dark-blue !important;
  }

  .navbar-default .navbar-nav>li>a {
    color: $dark-blue !important;
    text-decoration: none;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: #fff !important;
    background-color: $dark-blue !important;
  }

  .navbar-collapse li {
    text-align: center;
  }

  .navbar-collapse {
    list-style: none;
    padding: 10px 0 0 0;

    li.delimiter {
      display: none;
    }

    #signin-signout {
      width: 100%;

      &:hover {
        div.dropdown-menu {
          display: none;
        }

        &.open {
          div.dropdown-menu {
            display: grid;

            div {
              padding: 10px 0;
              margin: 0;
              place-self: flex-start;
              justify-self: center;
              width: 100%;

              ul {
                display: block;
              }
            }
          }
        }
      }

      &.open {
        div.dropdown-menu {
          position: relative;
          top: 0;
          left: unset;
          right: unset;
          margin: auto;
          display: grid;
          justify-content: center;
          align-items: center;
          width: max-content;
          grid-template-rows: repeat(2, 0fr);
          grid-auto-flow: column;
          padding: 0;
          border: none;

          div {
            padding: 10px 0;
            margin: 0;
            place-self: flex-start;
            justify-self: center;
            width: 100%;

            ul {
              display: block;
            }
          }
        }
      }

    }

    ul {
      width: 100%;
      margin: auto;
    }

    &>li {
      padding: 10px 0;
    }

    li {
      text-transform: uppercase;

      &.active {
        background-color: $dark-blue;

        a {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}
