@use './colours' as *;

.dmp-visit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-self: flex-end;
  background: $rust;
  border-radius: 5px;
  padding: 20px;
  height: 110px;
  width: 350px;
  position: relative;
  top: -220px;
  left: calc(-100vw / 2 + 300px);
  cursor: pointer;
  display: grid;
  grid-template-columns: 5fr 0.1fr;

  @media (max-width: 767px) {
    margin: auto;
    left: 0;
  }

  @media (max-width: 575px) {
    display: none;
  }

  i {
    font-size: 2.5em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    color: white;
    margin-left: -60px;
  }

  p {
    color: white;
    grid-column: 1/2;
  }

  h2 {
    grid-column: 1/2;
    margin: 10px 0 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
  }

  &:hover {
    background: color-mix(in srgb, $rust 80%, black);
  }
}

h2.see-all-news > a {
  color: $rust;
  font-weight: bold;
}
