<%# Available locals: orgs %>
<% title _('Template Mappings') %>
<div class="row">
  <div class="col-xs-12">
    <%= react("TemplateMappingsListLayout", props: {locale: LocaleService.to_gettext(locale: locale)}) %>
  </div>
</div>