<div class="row">
  <div class="col-xs-12">
    <h2>
      <%= _("New mapping") %>
      <%= link_to(_('View all mappings'), super_admin_template_mappings_path,
          class: 'btn btn-default pull-right', role: 'button') %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= react("TemplateMappingLayout", props: {locale: LocaleService.to_gettext(locale: locale)}) %>
  </div>
</div>
