@use '../dmpopidor/colours' as *;

.tooltip {
  .tooltip-arrow {
    color: $dmpopidor-blue;
    border-bottom-color: $dmpopidor-blue;
  }

  .tooltip-inner {
    background-color: $dmpopidor-blue;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    min-width: initial;
    min-width: 320px;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .tooltip-inner {
    min-width: initial;
    max-width: 120px;
    text-align: left;
  }
}
